<h1>Your trips</h1>



  <% @memberships.each do |membership| %>

        <h3 id='trip-index'><%= link_to "#{membership.trip_id}", trip_path(membership.trip_id) %></h3>

  <% end %>


  <h2 id='add-trip'><%= link_to 'add a new trip', new_trip_path%></h2>
