

    <div class='welcome-background'>
      <div class='homebox'>
        <h1 class='main-title'>goTogether</h1>
        <h2 class='main-tagline'>organize your group vacations</h2>
        <% if current_user %>
            <p class='log-in'><%= link_to 'Your trips', user_memberships_path(current_user.id) %></p>
            <p class='log-out'><%= link_to 'Log-out', destroy_user_session_path, :method => :delete %></p>
        <%else%>
            <p class='log-in'><%= link_to 'Log-in', new_user_session_path%></p>
            <p class='log-in'><%= link_to 'Sign-up', new_user_registration_path%></p>
          <%end%>
      <div>
      </div>
