

    <div class='welcome-background'>
      <div class='homebox'>
        <h1 class='main-title'>goTogether</h1>
        <h2 class='main-tagline'>plan your next vacation together</h2>
      <div>
      </div>
