/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
*/

  body {
    padding: 0;
    margin: 0;
  }

  html {
    height: 100%;
    width: 100%;
    background:url('http://previews.123rf.com/images/fourleaflover/fourleaflover1407/fourleaflover140700007/30189502-A-seamless-texture-composed-by-passport-stamps-illustrations-of-a-grunge-paper-background--Stock-Vector.jpg') no-repeat center center fixed;
    -webkit-background-size: 120%;
    -moz-background-size: 120%;
    -o-background-size: 120%;
    background-size: 120%;
  }

 .navbar{
   display: inline-block;
   height: 50px;
   width: 100%;
   background: #558188;
   text-decoration: none;
   margin: 0px;
   top:0px;
 }

 .navitem a, .logo a{
   text-decoration: none;
   float: right;
   display: inline-block;
   text-align: right;
   padding: 10px;
   font-family: 'Varela Round', sans-serif;
   color: #ff9c5f;
 }

 .logo a{
   float: left;
   font-size: 30px;
   font-weight: bold;
 }

 .trip-header {
   color: #253939;
   background: #ff9c5f;
   border-radius: 15px;
   width: 800px;
   text-align: center;
   font-family: 'Varela Round', sans-serif;
   margin: 10px auto;
   padding: 10px;
 }

 .members, .itinerary, .notes  {
   color: #253939;
   border-radius: 15px;
   width: 25%;
   font-family: 'Varela Round', sans-serif;
   margin: 20px;
   padding: 20px;
   float: left;
   display: inline-block;
   box-shadow: 5px 5px 10px #888888;
 }

 .box-title{
   border: 2px solid #f0efe4;
   border-radius: 5px;
   text-align: center;
 }

  .member-name {
    color:#ff9c5f;
  }

  .member-line {
    border-bottom: 2px solid #5fa292;
    width: 80%;
    margin: auto;
    padding: 5px; 
  }

  .member-email {
    font-size: 13px;
  }

  .ac-link a{
    text-decoration: underline;
    color: #ff8b6c;
  }

  .members {
    background: #558188;
    text-align: center;
  }

  .itinerary{
    background: #5fa292;
    text-align: left;
  }

  .notes {
    background: #558188;
    text-align: left;
  }

  .trip-index {
    background: #5fa292;
    color: #253939;
    border-radius: 15px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    text-align: center;

  }

  .trip-index a {
    text-decoration: none;
    color: #253939;
    background: #ff9c5f;
    padding: 10px;
    border-radius: 5px;
  }

  .button a {
    text-decoration: none;
    font-size: 15px;
    background: #ff8b6c;
    width: 200px;
    color: #00113a;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
  }

  .edit-button a {
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    background: #558188;
    width: 200px;
    color: #00113a;
    border-radius: 5px;
  }

  .acc-results, .act-result-box {
    background: #5fa292;
    width: 50%;
    margin: auto;
    line-height: 1;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Varela Round', sans-serif;
    color: #253939;
    font-size: 15px;
    box-shadow: 5px 5px 10px #888888;
  }

  .act-results {
    margin: 3px;
  }

  .act-number {
    margin: 30px auto 3px auto;
  }

  .form {
    width: 40%;
    margin: 50px auto;
    background: #5fa292;
    color: #253939;
    padding: 50px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    box-shadow: 5px 5px 10px #888888;

  }

  .power {
    font-size: 12px;
  }

  .searchbar {
    font-family: 'Varela Round', sans-serif;
    background: #5fa292;
    width: 50%;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
  }

  .error {
    color: #ff8b6c;
  }
