/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
*/

body {
  padding: 0;
  margin: 0;
  background: #f0efe4;
}

 .navbar{
   display: inline-block;
   height: 50px;
   width: 100%;
   background: #558188;
   text-decoration: none;
   margin: 0px;
   top:0px;
 }

 .navitem a, .logo a{
   text-decoration: none;
   float: right;
   display: inline-block;
   text-align: right;
   padding: 10px;
   font-family: 'Varela Round', sans-serif;
   color: #ff9c5f;
 }

 .logo a{
   float: left;
   font-size: 30px;
   font-weight: bold;
 }

 .trip-header {
   color: #253939;
   background: #ff9c5f;
   border-radius: 15px;
   width: 800px;
   text-align: center;
   font-family: 'Varela Round', sans-serif;
   margin: 10px auto;
   padding: 10px;
 }

 .members, .itinerary, .notes  {
   color: #253939;
   border-radius: 15px;
   width: 25%;
   text-align: center;
   font-family: 'Varela Round', sans-serif;
   margin: 20px;
   padding: 20px;
   float: left;
   display: inline-block;
 }

  .member-name {
    color:#ff9c5f;
  }

  .ac-link a{
    text-decoration: none;
    color: #ff8b6c;
  }

  .members {
    background: #558188;
  }

  .itinerary{
    background: #5fa292;
  }

  .notes {
    background: #558188;
  }

  .trip-index {
    background: #5fa292;
    color: #253939;
    border-radius: 15px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }

  .trip-index a {
    text-decoration: none;
    color: #253939;
    background: #ff9c5f;
    padding: 10px;
    border-radius: 5px;
  }

  .button a {
    text-decoration: none;
    font-size: 15px;
    background: #ff8b6c;
    width: 200px;
    color: #00113a;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
  }

  .edit-button a {
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    background: #558188;
    width: 200px;
    color: #00113a;
    border-radius: 5px;
  }

  .acc-results, .act-result-box {
    background: #b0dddf;
    width: 50%;
    margin: auto;
    line-height: 1;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
  }

  .act-results {
    margin: 3px;
  }

  .act-number {
    margin: 30px auto 3px auto;
  }

  .form {
    width: 40%;
    margin: 50px auto;
    background: #b0dddf;
    padding: 50px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;

  }

  .power {
    font-size: 12px;
  }

  .searchbar {
    font-family: 'Varela Round', sans-serif;
    background: #b0dddf;
    width: 50%;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
  }
